<nav *ngIf="isLoggedIn()" class="navbar">
  <button routerLink="/tasks" routerLinkActive="active">Tasks</button>
  <button *ngIf="isAdminOrOwner()" routerLink="/audit" routerLinkActive="active">Audit</button>
  <button *ngIf="isAdmin()" routerLink="/users" routerLinkActive="active">Users</button> 
  <span class="user-info">
    <div class="avatar">{{ getAvatarLetter() }}</div>
    {{ getEmail() }} ({{ getRole() }})
  </span>

  <button class="logout" (click)="logout($event)">Logout</button>
</nav>

<hr />
<router-outlet></router-outlet>
