<nav *ngIf="isLoggedIn()" class="navbar">
  <button type="button" routerLink="/tasks" routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }">Tasks</button>
<button *ngIf="isAdminOrOwner()" type="button" routerLink="/audit" routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }">Audit</button>
<button *ngIf="isAdmin()" type="button" routerLink="/users" routerLinkActive="active"
[routerLinkActiveOptions]="{ exact: true }">Users</button>
  <span class="user-info">
    <div class="avatar">{{ getAvatarLetter() }}</div>
    {{ getEmail() }} ({{ getRole() }})
  </span>

  <button class="logout" (click)="logout($event)">Logout</button>
</nav>

<hr />
<router-outlet></router-outlet>
